<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container">

    <header>
        <div class="wrapper">
            <h1>Edit User</h1>
        </div>
    </header>

    <nav>
        <div class="wrapper">
            <input title="back" id="back_button"/>
            <input title="save" id="save_button"/>
            <input title="remove" id="remove_button"/>
        </div>
    </nav>

    <section>
        <div class="wrapper">
            <span class="description">Name</span>
            <input title="name" id="name" class="input" type="text" />
        </div>
        <br>
        <div class="wrapper">
            <span class="description">Age</span>
            <input title="age" id="age" class="input" type="text" />
        </div>
        <br>
        <div class="wrapper">
            <span class="description">Sex</span>
            <select title="sex" id="sex" class="input">
                <option value=""></option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <br>
        <div class="wrapper">
            <span id="message"></span>
        </div>
    </section>

    <footer>
        <div class="wrapper">
            <address>
                Visit me at: <a href="http://www.ovidiuconeac.ro/" target="_blank">www.ovidiuconeac.ro</a>
            </address>
        </div>
    </footer>


</div>
</body>
</html>